.blogpost-grid-main {
    grid-area: main;
}

.blogpost-grid-comment {
    grid-area: comment;
}

.blogpost-grid-sidebar {
    grid-area: sidebar;
}

.blogpost-grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "main main main"
        "comment comment comment"
        "sidebar sidebar sidebar";    
}

@media (min-width: 768px) {
    .blogpost-grid-container {
        grid-template-areas: 
            "main main sidebar"
            "comment comment .";
    }
}

@media (min-width: 1024px) {
    .blogpost-grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "main main main sidebar"
            "comment comment comment .";
    }
}

.explore-card-main {
    width: 100%;
    max-width: 21.9rem;
    background-color: white;
    min-height: 6.5rem;
    padding: 3px;
    display: flex;
    align-items: flex-start;
    border-color: var(--color-theme-blue);
    cursor: pointer;
}

.explore-image-container {
    background-color: black;
    height: 6.5rem;
    min-width: 6rem;
    display: flex;
}

.explore-image {
    object-fit: scale-down;
}

.explore-text-container {
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.explore-title {
    font-family: 'Oxygen', 'Helvetica', 'sans-serif';
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.explore-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

@media (min-width: 768px) {
    .explore-text {
        -webkit-line-clamp: 4;
    }
}

@media (min-width: 1280px) {
    .explore-text {
        -webkit-line-clamp: 3;
    }
}

.commentcard-main {
    width: 100%;
    overflow: hidden;
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid #e5e7eb; /*bg-gray-200*/
}

.commentcard-bar {
    width: 100%;
    background-color: var(--color-theme-purple);
    padding: 0.5rem;
}

.commentcard-bar-text {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width: 640px) {
    .commentcard-bar-text {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.card-text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.commentcard-textbox {
    width: 100%;
    min-height: 8rem;
    padding: 1rem;
    padding-bottom: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.commentcard-textbox.edit {
    background-color: var(--color-theme-purple);
    padding: 0 0.875rem 0.75rem 0.875rem;
}

.commentcard-textarea {
    width: 100%;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.75rem;
    border-radius: 0.5rem;
    outline-color: #1e40af;
    border: 1px solid #e5e7eb;
}

.commentcard-content {
    width: 100%;
    padding-bottom: 0.75rem;
}

.commentcard-button-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.75rem;
}

.button-comment {
	display: flex;
	width: fit-content;
	justify-content: center;
	align-items: center;
	padding: 0.35rem 0.625rem;
	border-radius: 0.375rem;
    min-width: 4rem;
}

.button-comment-green {
    background-color: var(--color-button-green);
}

.button-comment-red {
    background-color: var(--color-button-red);
}

.button-comment-yellow {
    background-color: #fef08a;
}
