/* Variables */
:root {
	--color-neutral-00: #eef1ff;
	--color-neutral-01: #d2daff;
	--color-theme-blue: #aac4ff;
	--color-theme-purple: #b1b2ff;
	--color-theme-yellow: #dbb632;
	--color-button-green: #b3ffae;
	--color-button-red: #ff7d7d;
}

/* font import: Source Sans Pro */
@font-face {
	font-family: 'Source Sans Pro';
	font-weight: 300;
	src:
		url('/fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
		url('/fonts/sourcesanspro-light-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 300;
	src:
		url('/fonts/sourcesanspro-lightitalic-webfont.woff2') format('woff2'),
		url('/fonts/sourcesanspro-lightitalic-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-weight: 400;
	src:
		url('/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
		url('/fonts/sourcesanspro-regular-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 400;
	src:
		url('/fonts/sourcesanspro-italic-webfont.woff2') format('woff2'),
		url('/fonts/sourcesanspro-italic-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-weight: 600;
	src:
		url('/fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
		url('/fonts/sourcesanspro-semibold-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 600;
	src:
		url('/fonts/sourcesanspro-semibolditalic-webfont.woff2') format('woff2'),
		url('/fonts/sourcesanspro-semibolditalic-webfont.woff') format('woff');
}

/* font import: Oxygen */
@font-face {
	font-family: 'Oxygen';
	font-weight: 300;
	src:
		url('/fonts/oxygen-light-webfont.woff2') format('woff2'),
		url('/fonts/oxygen-light-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Oxygen';
	font-weight: 400;
	src:
		url('/fonts/oxygen-regular-webfont.woff2') format('woff2'),
		url('/fonts/oxygen-regular-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Oxygen';
	font-weight: 700;
	src:
		url('/fonts/oxygen-bold-webfont.woff2') format('woff2'),
		url('/fonts/oxygen-bold-webfont.woff') format('woff');
}

/* Selector Config */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
	font-weight: 400;
}

.userimg-container {
	background-color: white;
	border-radius: 9999px;
	flex-shrink: 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.userimg-md {
	width: 2.5rem;
	height: 2.5rem;
}

.userimg-sm {
	width: 2.25rem;
	height: 2.25rem;	
}

.userimg-photo {
	object-fit: cover;
	object-position: center;
}

.userimg-md > .userimg-photo {
	width: 2.75rem;
	height: 2.75rem;
}

.userimg-sm > .userimg-photo {
	width: 2.5rem;
	height: 2.5rem;
}

.text-link {
	text-decoration: underline;
	color: #1d4ed8; /*text-blue-700*/
}

.text-link:hover {
	color: #9333ea; /*text-purple-600*/
}

/* .button-dropdown {
	background-color: white;
	border: 1px solid rgb(209, 213, 219);
	border-radius: 0.25rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.25rem;
	height: 2.75rem;
	padding: 8px 12px;
	display: flex;
	align-items: center;
	gap: 0.5rem;
} */

.pagination-container {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	border-width: 1px;
	border-color: #e2e8f0;
	border-radius: 0.25rem;
	overflow: hidden;
	background-color: #e2e8f0;
	gap: 1px;
}

.button-pagination, .button-pagination-dots {
	padding: 0.35rem 0.75rem;
	background-color: white;
	font-weight: 400;
	color: black;
	border: 1px solid transparent;
}

.button-pagination-dots {
	font-weight: 600;
}

.button-pagination:hover {
    background-color: var(--color-neutral-00);
    border-color: #cbd5e1;
	color: #9333ea;
}

.button-pagination:disabled {
    color: #9ca3af;
    background-color: white;
    border-color: transparent;
}

.button-pagination-selected {
	padding: 0.35rem 0.75rem;
	color: #9333ea;
	font-weight: 600;
	background-color: var(--color-neutral-00);
	border: 2px solid var(--color-theme-purple);
}

/* Icons's Color */
.filter-green-500 {
	filter: invert(64%) sepia(63%) saturate(557%) hue-rotate(88deg) brightness(86%) contrast(91%);
}
