---
import type { InferGetStaticParamsType, InferGetStaticPropsType, GetStaticPaths } from "astro";

import "../styles/global.css";
import "../styles/auth.css";

import MainHead from "../layouts/MainHead.astro"
import Login from "../components/Login"
import Signup from "../components/Signup"
import ForgotPassword from "../components/ForgotPassword"

export const getStaticPaths = (async () => {
    const titleArr = ["Log In", "Sign Up", "Forgot Password"]
    return titleArr.map((title) => { return {
        params: { auth: title.replace(' ', '').toLowerCase() },
        props: { title }
    }})
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { auth: slug } = Astro.params as Params;
const { title } = Astro.props as Props;

---

<html lang="en">
    <MainHead {title}/>
    <body>
        <main class="bg-theme-blue sm:bg-neutral-00 w-full h-screen flex justify-center items-center sm:px-5">
            { slug === ("login") && <Login client:load/> }
            { slug === ("signup") && <Signup client:load/> }
            { slug === "forgotpassword" && <ForgotPassword client:load/> }
        </main>
    </body>
</html>
