---
export const prerender = true;
import type { InferGetStaticParamsType, InferGetStaticPropsType, GetStaticPaths } from "astro";

import "@styles/global.css";
import "@styles/auth.css";

import MainHead from "@layouts/MainHead.astro"
import Login from "@components/Login"
import Signup from "@components/Signup"
import ForgotPassword from "@components/ForgotPassword"

export const getStaticPaths = (async () => {
    const titleArr = ["Log In", "Sign Up", "Forgot Password"]
    return titleArr.map((title) => { return {
        params: { auth: title.replace(' ', '').toLowerCase() },
        props: { title }
    }})
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { auth: slug } = Astro.params as Params;
const { title } = Astro.props as Props;

---

<html lang="en">
    <MainHead {title}/>
    <body class="bg-theme-blue sm:bg-neutral-00 w-full h-screen flex justify-center items-center sm:px-5">
        <main class="auth-container">
            <h2 class="auth-title">
				{ slug === "login" ? "Log in to myMiniBlog" : slug === "signup" ? "Create an account" : "Reset Your Password"}
			</h2>
            { slug === "login" && <><Login client:only="react"/><p class="mt-6">Need an account? <a href="/signup" class="text-link underline text-blue-700">Sign up</a></p><p>Forgot your account? <a href="/forgotpassword" class="text-link">Reset it</a></p></> }
            { slug === "signup" && <><Signup client:only="react"/><p class="mt-6">Already have an account? <a href="/login" class="text-link">Log in</a></p></>}
            { slug === "forgotpassword" && <ForgotPassword client:only="react"/> }
        </main>
    </body>
</html>
