---
const {
    blogpostImg,
    userId = "00",
    userName = "Guest",
    createdAt = Date.now().toString(),
    commentCount = 0,
    title = "Title will be shown here",
    summary = "This is a short summary as preview for reader on what to be expected inside the post. Click the button below if you wanna read :)",
    tags,
    slug = "title-will-be-shown-here",
} = Astro.props
---

<div class="w-full max-w-sm bg-white rounded-lg overflow-hidden flex flex-col">

</div>
