---
import "@styles/global.css";

import MainHead from "./MainHead.astro";
import NavigationBar from "@components/NavigationBar";

interface Props {
    title?: string;
}

const {title = "My Mini Blog"} = Astro.props as Props;
---

<html lang="en">
	<MainHead {title}/>
	<body class="bg-neutral-00 relative w-screen min-h-dvh overflow-hidden">
		<NavigationBar client:only="react"/>
		<div class="w-screen h-14 bg-theme-purple"/>
		<slot/>
	</body>
</html>
